#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 1s;
}

.loader_dot{
  width: 30px;
  height: 30px;
  margin: 25px;
  border-radius: 50%;
  background-color: #7e9822;
  animation-name: bubble;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader_dot2{
  animation-delay: 0.2s;
}
.loader_dot3{
  animation-delay: 0.4s;
}

.loader-hidden{
  transform: translate3d(0, -100%, 0);
}

@keyframes bubble {
  100%{
    transform: translate3d(0, -15px, 0);
  }
}