@font-face {
  font-family: "Agent Mac";
  src: url('../fonts/Agent Mac.ttf');
}

@font-face {
  font-family: "JosefinSans-Bold";
  src: url('../fonts/JosefinSans-Bold.ttf');
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: "JosefinSans-SemiBold";
  src: url('../fonts/JosefinSans-SemiBold.ttf');
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}