.illustration_1{
  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#bc0202;}.cls-4{fill:#7f1616;}.cls-5{fill:#75892b;}.cls-6{fill:#58661e;}
}

.illustration_2{
  transform: scale(1.4);
  .cls-1{
    fill:#d1d1d1;
  }
  .cls-2{
    fill:#75892b;
  }
  .cls-3{
    fill:#efefef;
  }
  .cls-4{
    font-size:30px;fill:#bc0202;
  }
  .cls-4,
  .cls-5{
    font-family: JosefinSans-Regular, Josefin Sans;
  }
  .cls-5{
    font-size:50px;fill:#7f7f7f;
  }
}